{% if attr.error|isString or attr.success|isString %}
  {% cmp 'div',
    class=attr.error|ternary('invalid-feedback', 'valid-feedback'),
    id=attr.id + '-invalid' %}
    {{- attr.error|ternary(attr.error, attr.success) -}}
  {% endcmp %}
{% endif %}
