{% set layout = [] %}
{% for o in attr.options %}
  {% if o|is('plainObject') %}
    {{ layout|array('push', o.col|d(':12'))|void }}
  {% else %}
    {{ layout|array('push', ':12')|void }}
  {% endif %}
{% endfor %}
<fieldset
    class="{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe -}}
    {{ params|join(' ') -}}>
    {% if attr.legend %}
    <legend>{{ attr.legend }}</legend>
    {% endif %}
    {% if attr.options %}
      {% cmp 'row' %}
        {% for o in attr.options %}
          {% if o|is('string') %}{% set o = { name: o, widget: 'formInput' } %}{% endif %}
          {% cmp 'col', columns=layout[loop.index0]|d([]) %}
            {% cmp o.widget|d('formInput'), name=o.name, labelFloating=o.labelFloating|d(attr.labelFloating), plaintext=o.plaintext, value=form[o.name]|format(o.type), error=_meta.flash.validation|getMessage(o.name) %}{% endcmp %}
          {% endcmp %}
        {% endfor %}
      {% endcmp %}
    {% else %}
    {{- content|safe -}}
    {% endif %}
    </fieldset>
