<{{ attr.numbered|ternary('ol', 'ul') }}
    class="list-group{% if attr.flush %} list-group-flush{% endif %}{% if attr.numbered %} list-group-numbered{% endif %}{% if attr.horizontal %} list-group-horizontal{% if attr.horizontal|isString %}-{{ attr.horizontal }}{% endif %}{% endif %}{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe -}}
    {{ params|join(' ') -}}>
    {%- if attr.options|isArray -%}
    {%- for opt in attr.options %}
    {% if opt|isString %}
    {% cmp 'listGroupItem' %}{{ opt }}{% endcmp %}
    {% else %}
    {% cmp 'listGroupItem', active=opt.active, href=opt.href, icon=opt.icon %}{{ opt.caption }}{% endcmp %}
    {% endif %}
    {%- endfor -%}
    {%- else -%}
    {{- content|safe -}}
    {%- endif -%}
    </{{ attr.numbered|ternary('ol', 'ul') }}>