<h6
    class="card-title{{ attr.class|d(' mb-2 text-body-secondary') }}"
    style="{{ attr.style }}"
    {{ attributes|safe -}}
    {{ params|join(' ') -}}>
    {{- attr.content|d(content|safe) -}}
    </h6>