{%- if user %}
{% set options = [
  { value: routePath('sumba:/change-password'), text: 'Change Password'|t),
  { value: routePath('sumba:/profile'), text: 'My Profile'|t),
  '-',
  { value: routePath('sumba:/signout'), text: 'Signout'|t)
] %}
{% else %}
{% set options = [
  { value: routePath('sumba:/signin'), text: 'Signin'|t),
  '-',
  { value: routePath('sumba:/signup'), text: 'Signup'|t),
  { value: routePath('sumba:/forgot-password'), text: 'Forgot Password'|t)
] %}
{% endif -%}
{% tag 'navItemDropdown',
    icon='account',
    caption=user.username|d('Guest'|t),
    onParent=true,
    options=options %}{% endtag %}
