<{{ attr.tag|d('ul') }}
    class="{% if attr.navbar %}navbar-{% endif %}nav{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe -}}
    {{ params|join(' ') -}}>
    {% if attr.options|length > 0 %}
        {% for o in attr.options %}
            {% tag 'navItem', useNav=attr.tag === 'nav', active=o.active, disabled=o.disabled, caption=o.caption %}{% endtag %}
        {% endfor %}
    {% else %}
    {{- content|safe -}}
    {% endif %}
    </{{ attr.tag|d('ul') }}>