<{{ attr.tag|d('ol') }}
    class="{{ attr.classBase }}{{ attr.class }}"
    style="{{ attr.style }}"
    {{ attributes|safe -}}
    {{ params|join(' ') -}}>
      {% for o in attr.options %}
      {% tag 'li' %}
        {% tag 'a', href=o.href %}{{ o.caption }}{% endtag %}
        {% if o.children|length > 0 %}
          {% tag 'tree', options=o.children, tag=attr.tag %}{% endtag %}
        {% endif %}
      {% endtag %}
      {% endfor %}
    </{{ attr.tag|d('ol') }}>