{%- set siteInfo = getConfig('bajoWebMpa').siteInfo -%}
{% tag 'html', lang=lang, dataBsTheme=darkMode %}
  {% tag 'head' %}
    {% tag 'meta', charset='utf-8' %}{% endtag %}
    {% tag 'meta', name='viewport', content='width=device-width, initial-scale=1' %}{% endtag %}
    {% tag 'title'%}{{ site.title|d(siteInfo.title) }}{% endtag %}
    {% for c in theme.css %}
      {% tag 'link', rel='stylesheet', href=c %}{% endtag %}
    {% endfor %}
    {% tag 'link', rel='stylesheet', href=assetDir('bajoWebBook') + '/css/book.css' %}{% endtag %}
    {% block css %}{% endblock %}
  {% endtag %}
  {% tag 'body', padding=0, margin=0 %}
    {% tag 'div', display='flex', flex='column', justifyContent='center', alignItems='center', style='height:100vh' %}
      {% tag 'div', text='center' %}
        {% tag 'header', margin='bottom5', padding='bottom5', heading=5 %}
        {{ site.title|d(siteInfo.title) }}
        {% endtag %}
        {% block body %}
        {% endblock %}
        {% tag 'button', margin='top3', tag='a', variant='primary', href='/', icon='home' %}
          {{ 'Home'|t }}
        {% endtag %}
        {% tag 'footer', margin='top5', padding='top5' %}
        {{ '&copy; %s %s. All rights reserved'|t(2023, site.orgName|d(siteInfo.orgName)) }}
        {% endtag %}
      {% endtag %}
    {% endtag %}
    {% for s in theme.script %}
      {% tag 'script', src=s %}{% endtag %}
    {% endfor %}
    {% block script %}{% endblock %}
  {% endtag %}
{% endtag %}
