{% tag 'html', lang=lang, dataBsTheme=darkMode %}
  {% tag 'head' %}
    {% tag 'meta', charset='utf-8' %}{% endtag %}
    {% tag 'meta', name='viewport', content='width=device-width, initial-scale=1' %}{% endtag %}
    {% tag 'title'%}{{ getConfig('bajoWebBook').title|t }} - {{ site.title|d(siteInfo.title) }}{% endtag %}
    {% for c in theme.css %}
      {% tag 'link', rel='stylesheet', href=c %}{% endtag %}
    {% endfor %}
    {% tag 'link', rel='stylesheet', href=assetDir('bajoWebBook') + '/css/book.css' %}{% endtag %}
    {% block css %}{% endblock %}
  {% endtag %}
  {% tag 'body', padding=0, margin=0 %}
    {% tag 'navbar', expand='large', bg='primary', sticky='top', dark=true, padding='y3' %}
      {% tag 'container', sizing='medium' %}
        {% tag 'navbarBrand' %}{{ getConfig('bajoWebBook').title|t }}{% endtag %}
        {% tag 'navbarToggler', collapseId='main-navs' %}{% endtag %}
        {% tag 'navbarCollapse', id='main-navs' %}
          <!--
          {% tag 'nav', flex='row,wrap' %}
            {% tag 'navItem' %}test{% endtag %}
          {% endtag %}
          -->
          {% tag 'nav', flex='row,wrap', margin='startAuto' %}
            {% tag 'navItemAccount' %}{% endtag %}
            {% tag 'navItem', noLink=true, padding='x0,y0' %}{% tag 'spacer' %}{% endtag %}{% endtag %}
            {% tag 'navItemDarkmode' %}{% endtag %}
          {% endtag %}
        {% endtag %}
      {% endtag %}
    {% endtag %}
    {% tag 'container', sizing='medium', margin='top3' %}
      {% block body %}{% endblock %}
    {% endtag %}
    {% for s in theme.script %}
      {% tag 'script', src=s %}{% endtag %}
    {% endfor %}
    {% block script %}{% endblock %}
  {% endtag %}
{% endtag %}
