{{ _meta.flash|dump }}
{% if _meta.flash.dberr or toast %}
  {% cmp 'div', class='toast-container', position='fixedBottom0End0', padding=3 %}
    {% if toast %}
      {% if toast|isPlainObject %}{% set toast = [toast] %}{% endif %}
      {% for t in toast %}
        {% cmp 'toast', shown=true, title=t.title, content=t.content %}{% endcmp %}
      {% endfor %}
    {% endif %}
    {% if _meta.flash.dberr %}
      {% cmp 'toast', id='dberr-toast', shown=true, title='DB Error'|t, text='bgDanger' %}
        {{ _meta.flash.dberr|dump }}
      {% endcmp %}
    {% endif %}
  {% endcmp %}
{% endif %}
